<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
        Stockdb
    </title>

  <link href="/css/bootstrap.min.css" rel="stylesheet"> 
  <link href="/css/style.css" rel="stylesheet"> 
  </head>

  <body>
    <div class="container-fluid">

    <!--header-->
      <header id="sitehead">
        <a id="site-name" href="/">STOCKIFY</a>
        <nav id="main-nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="quote">GetQuotes</a></li>
                <li><a href="company">Companies</a></li>
                <li><a href="about">About</a></li>
            </ul>
        </nav>     
    </header>


    <!--home page-->

    <%- defineContent('home') %>

    <!--quote page-->

    <%- defineContent('quote') %>

    <!--company page-->

    <%- defineContent('company') %>

    <!--about page-->

    <%- defineContent('about') %>



 <! footer>
    <footer id="sitefooter">
        <span class="footdes">All Rights Reserved!</span>
        <span class="footdes">&copy 2016</span>
    </footer>


    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>    
  </body>
</html>