/* CSS RESET */
*{
    box-sizing: border-box;
}
/*
*{
    border: 1px solid red;
}
*/


body{
    background: #122932;
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
}

/*--FULL CSS--*/

/*--header*/

header{
    padding: 20px 30px;
}
header #site-name{
    color: #904e55;
    font-size: 40px;
    text-decoration: none;
    display: inline-block;
    width: 49%;
    padding: 10px 15px;
}
header #main-nav{
    display: inline-block;
    width: 49%;
    text-align: right;
}
header #main-nav ul{
     list-style: none;
     padding: 0;
}
header #main-nav ul li{
    display: inline-block;
}
header #main-nav ul li a{
    padding: 10px 15px;
    text-decoration: none;
    color: #e8e9eb;
    border-radius: 3px;
    transition: 0.5s ease all;
}
header #main-nav ul li a:hover{
    background: #59656f;
}


/*--footer--*/
footer{
    position: absolute;
    right: 0;
    left:0;
    bottom:0;
    background: #122932;
    color: #e8e9eb;
    text-align: center;
    padding: 20px 20px;
}
footer .footdes{
    padding: 5px 5px;
}


/*--main--*/

main{
    background: #122932;
    color: #e8e9eb
}
main .hero{
    padding: 100px 30px;
    text-align: center;
}
main .hero h1{
    margin: 0;
}
main .hero p{
    margin-top: 15px; 
}
main .moreinfo{
text-align: center;
}
main .letsgo{
    text-align: center;
    padding: 20px 30px;
}

main .letsgo a{
    border: #59656f;
    border-style: solid; 
    border-width:2px;
    border-radius: 3px;
    text-decoration: none;
    color: mediumseagreen;
    padding: 10px 15px;
    border-radius: 3px;
    transition: 0.5s ease all;
}
main .letsgo a:hover{
    background-color: #59656f;
}


/*--quotes*/

quote .selectcompanytext{
    margin-top: 30px; 
    color: wheat;
    text-align: center;
}
label{
    color: white;
}
quote .selectcompany{
    font-size: 18pt;
    padding-top:10px;
    color: white;
}
button{
    position: absolute;
    left: 47%;
}

/*--companies--*/

companylist{
    color: #f1e0c5;
}
companylist .head{
    text-align: center;
    padding: 30px 30px;
}
companylist .list{
    border: 2px solid wheat;
    margin-left: 35%;
    margin-right: 35%;
}
companylist .list ul{
     text-align: center;
    color: #904e55;
    padding: 0;
    list-style: none;
}
companylist .tail{
    text-align: center;
    padding: 30px 30px;

}


 /*--about--*/

about{
    text-align: center;  
}
about .messages{
    color: wheat;
}
about .controls{
    margin-top: 10px;
} 
about .credits{
    margin-top: 50px;
    font-weight: bold;
    color: wheat;
}
about .credits ul{
    list-style: none;
    padding: 0;
}
about .credits .list{
   color: whitesmoke;
}


/*---success----*/
success .message{
    text-align: center;
    padding-top: 200px;
    color: mediumseagreen; 
}
success .credits{
    text-align: center;
    margin-top: 270px;
    font-weight: bold;
    color: wheat;
}
success .credits ul{
    list-style: none;
    padding: 0;
}
success .credits .list{
   color: whitesmoke;
}


/*--company details--*/
cdetail{
    color: oldlace;
}
cdetail .main{
    margin-top: 20px;
}

cdetail .main .cname{
    color: darkorange;
}

cdetail .main .upart{
 font-size: 15pt;

}
cdetail .main .upart .att{
    border: 1px double wheat;
    
}
cdetail .main .upart .val{
    border: 1px double wheat;
    color: lightblue;
        font-size: 20pt;

}
cdetail .main .upart .b{
  margin-top: 10px;
}

cdetail .main .lpart{
    padding-top: 15px;
    font-size: 15pt;
    
}
cdetail .main .lpart .satt{
    border: 1px double wheat;
}
cdetail .main .lpart .sval{
    border: 1px double wheat;
    color: lightblue;
    font-size: 20pt;    
}