<html lang-"eng">

<!--about content-->
<%- contentFor('about') %>


<about>

  <div class="container">
    
    <form id="contact-form" method="post" action="/about" role="form">

      <div class="messages">  <h3> Feedback / Contact </h3></div>

       <div class="controls">

        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="form-group">
                    <label for="form_name">Your Name *</label>
                    <input id="form_name" type="text" name="name" class="form-control" placeholder="Name *" required="required" data-error="Name is required.">
                    <div class="help-block with-errors"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="form-group">
                    <label for="form_email">Your Email ID *</label>
                    <input id="form_email" type="email" name="email" class="form-control" placeholder="Email *" required="required" data-error="Valid email is required.">
                    <div class="help-block with-errors"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="form-group">
                    <label for="form_phone">Your Mobile No</label>
                    <input id="form_phone" type="tel" name="phone" class="form-control" placeholder="Mobile number">
                    <div class="help-block with-errors"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="form-group">
                    <label for="form_message">Feedback / Message *</label>
                    <textarea id="form_message" name="message" class="form-control" placeholder="Feedback *" rows="4" required="required" data-error="Please,leave us a message."></textarea>
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-3">
                <input type="submit" class="btn btn-success btn-send" value="Submit Feedback">
            </div>
        </div>
        
      </div>
    
    </form>


    <div class="row credits">
      <div class="row name">
        <h3>Webapp Created By</h3>
      </div>
      <div class="row list">
        <ul>
          <li><h4>Sowmya N S</h4></li>
          <li><h4>Yashas Y</h4></li>
        </ul>
      </div>
    </div>


  </div>

</about>