<html lang-"eng">

<!--Company content-->
<%- contentFor('company') %>


<companylist>

  <div class="head">
    List of supported Companies!
  </div>
  <div class="list">
    <ul>
        <li>Apple</li>
        <li>Idea</li>
        <li>Microsoft</li>
        <li>Facebook</li>
        <li>Airtel</li>
        <li>Reliance</li>
        <li>Toyota</li>
        <li>General Motors</li>
        <li>more</li>
        <li>Volkswagon</li>
        <li>more</li>
        <li> more</li>
    </ul>
    </div>

  <div class="tail">
    More coming soon!
  </div>

  </companylist>

  
</div>