<html lang-"eng">

<!--Company content-->
<%- contentFor('company') %>


<companylist>

  <div class="head">
    <h4>List Of Supported Companies!</h4>
  </div>

  <div class = "list">
    <ul>
       <%for(var i=0;i<x;i++){ %>
        <li>  <h4><%= clist[i].name %></h4> </li>
      <% } %>
   </ul>
  </div>

  <div class="tail">
    <h4>More Coming Soon!</h4>
  </div>
  
  </companylist>