<html lang-"eng">

<!--Company content-->
<%- contentFor('company') %>


<companylist>

  <div class="head">
    List of supported Companies!
  </div>

  <div class = "list">
    <ul>
       <%for(var i=0;i<x;i++){ %>
        <li>  <h4><%= clist[i].name %></h4> </li>
      <% } %>

    </ul>
  </div>

  <div class="tail">
    More coming soon!
  </div>
  
  </companylist>