<html lang="en">

<!--main-->
  <%- contentFor('main') %>

   <main id="sitemain">    
        <div class="hero">
            <h1>Welcome To Stockify</h1>
            <p>Get real time stock quotes!</p>
        </div>
        <div class="moreinfo">
            put more details here
        </div>
        <div class="letsgo">
             <a href="quote">Let's Go!</a>
        </div>
    </main>  