<html lang="en">
  <%- contentFor('main') %>

  <div class="row text-center"><h2>
      Get Real-Time Stock Quotes</h2>
  </div>

  <div class="row">
    <div class="col-md-1 gotoquote">
         <a href="/quote" class="button btn-lg btn-primary">Click Here</a>
     </div>
  </div> 
