<html lang="en">

<!--quote-->
<%- contentFor('quote') %>

<quote>
 
 <div class="row selectcompanytext">
    <h3>select company</h3>
</div>


 <div class="row selectcompany">
   <form action="/quote" method="POST">
     <div class="radio">
        <%for(var i = 0; i<x; i++) {%>
          <label><input type="radio" name="company" value= <%= clist[i].id %> > <%= clist[i].name  %> </label>
        <% } %>
     </div>
     <button type="submit" class="btn btn-success">submit</button>
  </form>    
</div>

</quote>