<html lang-"eng">

<!--feedback  recieved-->
<%- contentFor('success') %>


<success>

  <div class="container">
    <div class="row message" text-align="center">
  <h2> Thank you <%= name %> . Feedback Recieved! </h2>  
  </div>
  

    <div class="row credits">
      <div class="row name">
        <h3>Webapp Created By</h3>
      </div>
      <div class="row list">
        <ul>
          <li><h4>Sowmya N S</h4></li>
          <li><h4>Yashas Y</h4></li>
        </ul>
      </div>
    </div>

  </div>

</success>